---
import Layout from "../../layouts/Layout.astro";
import { projects, icons } from "../../data/index";
import GithubLink from "../../components/GithubLink.astro";
import LiveLink from "../../components/LiveLink.astro";
import Skills from "./Skills.astro";
import ImageCarousel from "../../components/ImageCarousel.astro";
const { id } = Astro.props;
const projectDetails = projects.find((project) => project.id === id);
if (!projectDetails) return;

const {
  name,
  description,
  thumbnail,
  githubLink,
  liveLink,
  skills,
  screenshots,
} = projectDetails;
---

<Layout title={name}>
  <main
    class="max-w-5xl 2xl:max-w-7xl mx-auto bg-neutral-900 text-white text-sm md:text-lg p-10 pt-20 md:p-20 grid grid-cols-1 place-items-center auto-rows-auto gap-y-10"
  >
    <h1 class="text-5xl lg:text-8xl lg:mb-16">{name}</h1>
    <p class="text-justify">{description}</p>

    {screenshots && <ImageCarousel imagePaths={screenshots} name={name} />}

    {skills && <Skills skills={skills} />}

    {
      (githubLink || liveLink) && (
        <ul class="grid grid-cols-2 gap-10 border-2 border-white place-items-center place-content-center p-4 mt-5">
          {githubLink && <GithubLink githubLink={githubLink} />}
          {liveLink && <LiveLink liveLink={liveLink} />}
        </ul>
      )
    }
  </main>
</Layout>
