---
import Card from "../../components/Card.astro";
import { frontendProjects } from "../../data";
const section = "frontend-projects";
const colCount =
  frontendProjects.length % 2 ? Math.min(3, frontendProjects.length) : 2;
const gridStyles = `grid xs:grid-cols-1 sm:grid-cols-${Math.min(
  2,
  colCount
)} lg:grid-cols-${colCount} grid-rows-auto`;
---

<section
  class={`h-fit relative bg-neutral-900 ${gridStyles} justify-items-center place-items-center gap-6 p-10 pt-40 lg:p-20 lg:pt-40`}
>
  <h1
    id={`${section}`}
    class="font-bodoni text-4xl lg:text-6xl text-white lg:absolute lg:top-20"
  >
    Front End
  </h1>
  {
    frontendProjects.map((project) => {
      return <Card project={project} section={section} />;
    })
  }
</section>

<script>
  import { renderAnimation } from "../../utils";

  const section = "frontend-projects";
  renderAnimation(section);
</script>
