---
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";

import { technical } from "../data";
import * as THREE from "three";

const githubURL = "https://www.github.com/vyonyx";
const linkedInURL = "https://www.linkedin.com/in/shaneel-kumar-b3812a173/";
const aboutMeSection = "aboutMeSection";
const experienceSection = "experienceSection";
const educationSection = "educationSection";
const technicalSection = "technicalSection";
const contactSection = "contactSection";
---

<Layout title="SK Details">
  <main
    class="bg-neutral-900 text-white text-sm md:text-md p-10 md:pt-40 md:p-20 grid grid-cols-1 lg:grid-cols-2 gap-20"
  >
    <section
      id={aboutMeSection}
      class="flex flex-col gap-10 w-fit col-span-2 lg:col-span-1 opacity-0"
    >
      <h1 class="text-4xl">About Me</h1>
      <p class="max-w-2xl text-left">
        Hello, my name is Shaneel Kumar and I am a Full Stack Developer! I have
        recently graduated from Dev Academy Aotearoa and I am excited to get
        into the industry to make a difference.
      </p>
      <p class="max-w-2xl text-left">
        I am driven by my need to create consistently, whether it's web
        development, making music, or throwing together a dish with whatever's
        left in the fridge! Creativity and curiosity are core values to me and I
        am always learning new skills to take my work to the next level.
      </p>
      <p class="max-w-2xl text-left">
        I first learnt to code as a student to create complex geometries and new
        design tools. I grew this skill set further during my architectural
        thesis, creating a tool that maps the interactions of a demographic. The
        visual feedback can then be used by architects to inform their designs.
      </p>
      <p class="max-w-2xl text-left">
        I have since explored learning web development as a hobby and chose to
        attend a boot camp to change careers. I think web development is an
        incredibly creative field and I am excited to learn and build more
        everyday. I am also passionate about using cutting edge animation and 3D
        technologies to create unique experiences on the web.
      </p>
    </section>
    <div
      id="canvas-container"
      class="hidden lg:flex lg:justify-center xl:justify-start"
    >
      <canvas id="aboutme-3d" class=""></canvas>
    </div>

    <Experience sectionID={experienceSection} />
    <Education sectionID={educationSection} />

    <section id={technicalSection} class="text-white col-span-2">
      <h1 class="text-4xl mb-6">Technical</h1>
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-3xl">
        {
          technical.map(({ skill, description }) => {
            return (
              <li class="grid auto-cols-auto gap-2">
                <span class="text-xl pt-4 border-t-2 border-white">
                  {skill}
                </span>
                <span class="max-w-xs text-sm">{description}</span>
              </li>
            );
          })
        }
      </ul>
    </section>

    <section id={contactSection} class="text-white col-span-2 max-w-lg text-lg">
      <h1 class="text-4xl mb-6">Contact Me</h1>
      <form
        class="grid auto-rows-auto gap-2"
        action="mailto:shaneel_kumar@live.com"
        method="post"
        enctype="text/plain"
      >
        <label for="message" class="text-sm">Send me an email:</label>
        <textarea
          class="text-black w-full max-w-lg h-40 resize-none p-6"
          name="message"
          id="message"></textarea>
        <button
          class="place-self-end mt-4 mr-4 border-2 border-white hover:border-neutral-900 hover:bg-white hover:text-neutral-900 p-2"
          type="submit"
        >
          Submit
        </button>
      </form>
    </section>

    <!-- <button
      class="w-40 h-16 bg-white hover:bg-neutral-900 text-neutral-900 hover:text-white hover:border-2 hover:border-white text-md"
    >
      Download CV
    </button> -->
  </main>

  <script>
    import { basicRevealAnimation, scrollRevealAnimation } from "../utils";
    const aboutMeSection = document.getElementById("aboutMeSection");
    const experienceSection = document.getElementById("experienceSection");
    const educationSection = document.getElementById("educationSection");
    const technicalSection = document.getElementById("technicalSection");
    const contactSection = document.getElementById("contactSection");

    aboutMeSection && basicRevealAnimation(aboutMeSection);
    experienceSection && scrollRevealAnimation(experienceSection)();
    educationSection && scrollRevealAnimation(educationSection)();
    technicalSection && scrollRevealAnimation(technicalSection)();
    contactSection && scrollRevealAnimation(contactSection)(75);

    // ThreeJS
    import * as THREE from "three";
    const container = document.getElementById(
      "canvas-container"
    ) as HTMLDivElement;
    const canvas = document.getElementById("aboutme-3d") as HTMLCanvasElement;
    const scene = new THREE.Scene();

    const sizes = {
      width: container.clientWidth,
      height: container.clientHeight,
    };

    const camera = new THREE.PerspectiveCamera(
      75,
      sizes.width / sizes.height,
      0.1,
      100
    );
    camera.position.z = 2;

    const material = new THREE.MeshBasicMaterial({
      color: 0xff0000,
      wireframe: true,
    });

    const geometry = new THREE.SphereGeometry(1, 16, 16);
    const mesh = new THREE.Mesh(geometry, material);
    scene.add(mesh);

    const renderer = new THREE.WebGLRenderer({ canvas, alpha: true });
    renderer.setSize(sizes.width, sizes.height);

    // Animate
    const clock = new THREE.Clock();

    const tick = () => {
      const elapsedTime = clock.getElapsedTime();

      // Update meshes
      mesh.rotation.y = Math.PI * elapsedTime * 0.1;

      // Update controls
      // controls.update()

      // Render
      renderer.render(scene, camera);

      // Call tick again on the next frame
      window.requestAnimationFrame(tick);
    };

    tick();
  </script>
</Layout>
