---
import GithubLink from "./GithubLink.astro";
import LiveLink from "./LiveLink.astro";
const { project, section } = Astro.props;
const { name, description, thumbnail, githubLink, liveLink, id } = project;
---

<div
  data-card={section}
  class="w-full h-full max-h-[950px] flex flex-col justify-between gap-5 bg-neutral-900 text-white p-5 lg:p-10 bg-gradient-to-t from-neutral-800 to-neutral-900"
>
  <h1 class="font-roboto text-2xl">{name}</h1>
  <p class="font-roboto text-sm lg:mb-10">{description}</p>
  <a
    href={id ? `/project/${id}` : liveLink ? liveLink : githubLink}
    class="w-full overflow-hidden"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      class="hover:scale-110 ease-in duration-200"
      src={thumbnail}
      alt={`${name} project by Shaneel Kumar`}
    />
  </a>

  {
    id ? (
      <a
        class="text-xl mx-auto py-1 px-4 border-2 border-white hover:border-highlight"
        href={`/project/${id}`}
        target="_blank"
      >
        Details
      </a>
    ) : (
      <span class="flex justify-center gap-10 justify-self-end">
        {githubLink && <GithubLink githubLink={githubLink} />}

        {liveLink && <LiveLink liveLink={liveLink} />}
      </span>
    )
  }
</div>
